body{
            font-family: Arial, sans-serif; 
            background-color: #f5f5f5;
            margin: 20px;
}

            h1{
                color:#222;
            }
            h2{
                color: #444;
            }

            section{
                background-color: #fff;
                padding: 15px;
                margin-bottom: 15px;
                border-radius: 15px;
            }
            img{
                height: 150px;
                width: 150px;
                border-radius: 30%;
                object-fit: cover;
            }
            a{
                text-decoration: none;
                color:#0077cc;
            }
            a:hover{
                text-decoration: underline;
                color:#059999;
            }
            input, textarea{
                width: 100%;
                padding: 8px;
                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            button{
                background-color: #0077cc;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
                button:hover{
                    background-color: #059999;
                }
.header-content{
    display: flex;
    align-items: center;
    gap: 20px;
}